@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  @apply bg-cover bg-center bg-no-repeat bg-fixed;
  background-image: url('/bg.png');
}


.p-card {
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  color: #e5e7eb !important;
}

.p-card-body {
  gap: 0 !important;
}
